//import 

//fonts

//color
$color-1: #ffffff;
$color-2: #000000;	

/*structure style*/
*{margin: 0; padding: 0; color: none; a{text-decoration: none;}}

main{}

header{
    nav{}
}

section{}

footer{}